ul {
    list-style: none;
}
.items {
    font-size: 1.5em;
}
.items > li {
    padding: 10px;
}
.todo-item-cjeck{

}
.done-item-check{

}
.item {
	font-size: 3em;
	padding: 10px;
}
.form-control{
    font-size: 2em;
    height: 50px;
}
.btn {
margin-bottom: 10px;
}
body {
	font-family: 'Open Sans', sans-serif;
      }
